body {
    background-color: rgb(229, 201, 108);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 5%;
    border: 5px black dotted;
}

section {
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    color: red;
}

p {
    color: black;
}

#skills p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills img {
    width: 36px;
    height: 36px;
    margin: 5px;
}

#social {
    font-size: xx-large;
}

#social a {
    margin: 5px;
}

.desc {
    text-align: center;
}