body {
    background-color: rgb(229, 201, 108);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 5%;
    border: 5px black dotted;
}

section {
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    color: red;
}

p {
    color: black;
}

#skills p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills img {
    width: 36px;
    height: 36px;
    margin: 5px;
}

#social {
    font-size: xx-large;
}

#social a {
    margin: 5px;
}

.desc {
    text-align: center;
}

#img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#img .frame{
    width: 15%;
    border-radius: 50%;
    border: 5px solid #000;
}

#img img{
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5;
    transition-duration: 0.75s;
    transition-delay: 0.25s;
}

#img img:hover{
    opacity: 1;
}

/* #img img:focus-visible:focus:focus-within{
    opacity: 1;
} */

hr{
    /* width: 10px; */
    height: 5px;
  width: auto;
  background-color:#150f15;
  border: solid 1px;
}

.title{
    border: 5px solid black;
    width: 15%;
    align-items: center;
    display: inline;
    background-color: bisque;
}