body{
    background-color: rgb(183, 255, 0);
}

html{
    margin: 20px ;
    border: 5px solid black;;
}

.title{
    text-align: center;
    font-size: 50px;
    font-style:oblique;
}

#education h2{
    text-decoration: underline;
    font-size:xx-large;
}

#education p{
    font-size: x-large;
    text-align: left;
    
}

#cskill{
    width: 36;
    height: 36;
}

/* .skills h2{
    display: flex;
    justify-content: center;
} */

.skills p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}